---
export interface Props {
  href: string
  variant?: 'primary' | 'secondary' | 'tertiary'
  class?: string
  target?: string
  rel?: string
}

const {
  href,
  variant = 'primary',
  class: className = '',
  target,
  rel
} = Astro.props

const baseClasses =
  'rounded-md px-3.5 py-2.5 text-sm font-semibold shadow-sm transition-colors focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2'

const variantClasses = {
  primary:
    'bg-silver-300 hover:bg-silver-50 border-2 text-sm font-semibold leading-6 text-silver-800 hover:text-silver-900',
  secondary:
    'border-silver-300 hover:text-silver-50 border-2 text-sm font-semibold leading-6 text-silver-300 hover:text-silver-50',
  tertiary:
    'text-sm font-semibold leading-6 text-silver-300 hover:text-silver-50'
}
---

<a
  href={href}
  class={`${baseClasses} ${variantClasses[variant]} ${className}`}
  target={target}
  rel={rel}
>
  <slot />
</a>
